<div class="centerElement">
  <h3>About the app</h3>
  <p>This application is purposed for beekeepers.
    It is meant to be used in conjunction with the acquisition modules.
    Beekeepers can use this application to monitor their beehives and analyze the data for a more prolific honey
    production.
  </p>
</div>
<div class="centerElement">
  <h3>Author information</h3>
<!--  <ul>-->
    <li><b>Name: </b> Ciurca Mihai-Aurelian</li>
    <li><b>Email: </b> ciurcamihai2332@hotmail.com</li>
    <li><b>Phone number: </b> 07niciNuTeGandi</li>
<!--  </ul>-->
</div>
