<app-measurement-charts class="minimalChart"
                        *ngIf="measurements.length > 1"
                        [sensorName]="sensorName"
                        [measurements]="measurements"
                        [maxValueYAxis]="getMaxValueYAxis()">

</app-measurement-charts>

<!--<div style="display: block">-->
  <!--<canvas baseChart height="260px"-->
          <!--[datasets]="lineChartData"-->
          <!--[labels]="lineChartLabels"-->
          <!--[options]="options"-->
          <!--[colors]="lineChartColors"-->
          <!--chartType="line"></canvas>-->
<!--</div>-->
