<app-loading-spinner *ngIf="authToken" [isLoading]="isLoading"></app-loading-spinner>
<div *ngIf="!isLoading">
<button mat-button (click)="goBack()">Back</button>
  <div *ngIf="authToken; else loggedOut" class="grid">
    <mat-card *ngFor="let sensor of sensors"
              class="gridElement">
      {{sensor.sensorType}}
      <button mat-raised-button class="floatRight"><i class="material-icons" (click)="deleteSensor(sensor)">delete</i></button>
      <app-measurement-request *ngIf="!isDeleting" [sensorName]="sensor.sensorType"
                               [moduleUUID]="uuid"
                               (click)="showChart(sensor)"></app-measurement-request>
      <app-loading-spinner *ngIf="isDeleting" [isLoading]="isDeleting"></app-loading-spinner>
    </mat-card>
  </div>
</div>

<ng-template #loggedOut>
  <h3>Please login.</h3>
</ng-template>
