<div *ngIf="authToken; else loggedOut">
  <form [formGroup]="formGroup" class="inputBar">
    <button mat-button (click)="goBackToSensors()" class="button">Back</button>
    <mat-form-field>
      <input matInput
             placeholder="Choose a date "
             [satDatepicker]="picker"
             formControlName="date">
      <sat-datepicker #picker [rangeMode]="true"
                      [closeAfterSelection]="false">
      </sat-datepicker>
      <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
    </mat-form-field>
    <button mat-raised-button type="submit" (click)="submit()" class="button">Ok</button>
  </form>

  <app-loading-spinner *ngIf="authToken" [isLoading]="isLoading"></app-loading-spinner>
  <app-measurement-charts *ngIf="measurements.length > 0 && sensorName && !isLoading"
                          [measurements]="measurements"
                          [sensorName]="sensorName"
                          [maxValueYAxis]="getMaxValueYAxis()">

  </app-measurement-charts>
</div>

<ng-template #loggedOut>
  <h3>Please login.</h3>
</ng-template>
