/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/saturn-datepicker/bundle.css';
@import '~material-design-icons/iconfont/material-icons.css';

.centerElement{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 0.5%;
}
.floatRight {
  float: right;
}
.floatLeft{
  float: left;
}
