<app-loading-spinner *ngIf="currentUserInfo.token" [isLoading]="isLoading"></app-loading-spinner>
<div *ngIf="currentUserInfo.token; else loggedOut">


  <div *ngIf="!isLoading">
    <button *ngIf="!boolFlagAdd" mat-mini-fab (click)="changeAddFlag(true)" class="floatRight">+</button>
    <button *ngIf="boolFlagAdd" mat-raised-button (click)="showModules()" [disabled]="isRequestInProgress"
            class="floatRight">Show modules
    </button>

    <div *ngIf="!boolFlagAdd">
      <div *ngIf="modules.length > 0; else emptyModules">
        <h4 class="text-primary">Your modules:</h4>
        <mat-card *ngFor="let module of modules"
                  class="centerElement moduleCard">
          <mat-card-title class="cardTitle"
                          (click)="showSensors(module)">
            {{module.name}}
          </mat-card-title>
          <mat-card-content>
            <button mat-button class="floatRight"><i class="material-icons" (click)="deleteModule(module)">delete</i></button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="boolFlagAdd">
      <app-add-module (requestFlag)="changeRequestFlag($event)"
                      (isRequestInProgress)="disableButton($event)"></app-add-module>
    </div>
    <br>

    <ng-template #emptyModules>
      <app-add-module></app-add-module>
    </ng-template>
  </div>

</div>

<ng-template #loggedOut>
  <h3>Please login.</h3>
</ng-template>
