<div *ngIf="currentUserInfo.token; else loggedOut">
  <!--{{currentUserInfo.token}}-->
  <div *ngIf="!boolFlagAdd">
    <div *ngIf="modules.length > 0; else emptyModules">
      <h4 class="text-primary">Your modules:</h4>
      <mat-card class="centerElement" *ngFor="let module of modules"
                (click)="showMeasurements(module)">{{module.name}}</mat-card>
    </div>
  </div>
  <div *ngIf="boolFlagAdd">
    <app-add-module></app-add-module>
  </div>
  <button *ngIf="!boolFlagAdd" mat-raised-button (click)="changeAddFlag(true)">Add module</button>
  <button *ngIf="boolFlagAdd" mat-raised-button (click)="changeAddFlag(false)">Show modules</button>
  <br>

  <ng-template #emptyModules>
    <app-add-module></app-add-module>
  </ng-template>
  <button mat-button class="btn btn-secondary" (click)="logout()">Logout</button>
</div>

<ng-template #loggedOut>
  <h3>Please login.</h3>
</ng-template>
