.registerElement{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.pwElement{
  margin-bottom: 3.5%;
}
.hoverLink:hover{
  text-decoration:none;
  text-shadow: 1px 1px 1px #555;
}
